/* Estilos CSS para el Sitio de Mountain Bike */
body {
    font-family: Arial, sans-serif;
    background-color: #fceed1; /* Fondo beige */
    color: #7d3cff; /* Púrpura */
}

header {
    background-color: #101357; /* Azul oscuro */
    color: #fea49f; /* Rosa antiguo */
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fea49f; /* Rosa antiguo */
    font-weight: bold;
}

.producto {
    background-color: #00a0a0; /* Azul claro */
    color: #161748; /* Azul marino */
    padding: 20px;
    margin-bottom: 20px;
}

.producto h3 {
    font-size: 1.5rem;
    margin-top: 0;
}

.producto p {
    font-size: 1rem;
}

footer {
    background-color: #007f4f; /* Verde */
    color: #fff5d7; /* Amarillo claro */
    text-align: center;
    padding: 10px;
}
